@model (IEnumerable<DayMaster.Models.Task> Tasks1, IEnumerable<DayMaster.Models.Task> Tasks2)
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";
    var todayTasks = Model.Tasks1.Where(t => t.date.Date == DateTime.Today.Date);
}

<h1>Welcome @Context.Session.GetString("username")</h1>
<br/>

<div class="row">
    <div class="col-md-4">
        <h3>Today's Tasks</h3>
        <ul>
            @foreach (var task in todayTasks)
            {
                <li>@task.taskName</li>
            }
        </ul>
    </div>
<div class="col-md-8">
<p>
    <a asp-action="Create">Create New</a>
</p>
        <form asp-action="Index" method="get">
            <input type="text" name="search" placeholder="Enter your task name to search" />
            <input type="submit" value="Search" />
        </form>
        <form>
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" />

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" />

        <button onclick="generateReport()">Generate Report</button>
        </form>
<table class="table">
    <thead>
        <tr>
            <th>
                        @Html.DisplayNameFor(model => model.Tasks2.FirstOrDefault().taskName)
            </th>
            <th>
                        @Html.DisplayNameFor(model => model.Tasks2.FirstOrDefault().taskDescription)
            </th>
            <th>
                        @Html.DisplayNameFor(model => model.Tasks2.FirstOrDefault().taskStatus)
            </th>
            <th>
                        @Html.DisplayNameFor(model => model.Tasks2.FirstOrDefault().priority)
            </th>
            <th>
                        @Html.DisplayNameFor(model => model.Tasks2.FirstOrDefault().date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tasks2) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.taskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taskStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.taskId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.taskId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.taskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
