@model (IEnumerable<DayMaster.Models.Task> Tasks1, IEnumerable<DayMaster.Models.Task> Tasks2)
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";
    var todayTasks = Model.Tasks1.Where(t => t.date.Date == DateTime.Today.Date );
}
<style>
    /* Style for the container div holding the forms */
    .form-container {
        display: flex;
    }

        /* Style for each form */
        .form-container form {
            margin-right: 20px; /* Add spacing between the forms */
        }

    /* Style for the <li> elements */
    li {
        margin-bottom: 8px;
        padding: 5px 10px;
        background-color: #f2f2f2;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        color: #333;
    }

        /* Style for the <li> elements on hover */
        li:hover {
            background-color: #ddd;
        }
        th{
            background-color: cornflowerblue;
        }
</style>
<script>
   function updateEndDateMin() {
        var startDateInput = document.getElementById("startDate");
        var endDateInput = document.getElementById("endDate");

        endDateInput.min = startDateInput.value;
    }
</script>

<h1>Welcome @Context.Session.GetString("username")</h1>
<div style="float:right">
     <form asp-action="Logout" method="post">
                <button type="submit">Logout</button>
        </form>

</div>

<br/>

<div class="row">
    <div class="col-md-4">
        <h3>Today's Tasks</h3>
        <br />
        <ul>
            @foreach (var task in todayTasks)
            {
                <li>@task.taskName</li>
            }
        </ul>
    </div>
<div class="col-md-8">
<p>
    <a asp-action="Create">Create New</a>
</p>
        <div class="form-container">
        <form asp-action="Index" method="get">
            <input type="text" name="search" placeholder="Enter your task name to search" />
            <input type="submit" value="Search" />
        </form>

        <form asp-action="GenerateReport" method="post">
        <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="startDate" onchange="updateEndDateMin()" required />

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" required/>

            <input type="submit" value="Generate Report" />
        
        </form>
           
        </div>
<table class="table">
    <thead>
        <tr>
            <th>
             TASK NAME
            </th>
            <th>
             TASK DESCRIPTION
            </th>
            <th>
             TASK STATUS
            </th>
            <th>
             PRIORITY
            </th>
            <th>
             DATE
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tasks2) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.taskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taskStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.taskId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.taskId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.taskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
